<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Movies</h4>
                <div class="text-right">
                    <h2 class="font-light m-b-0"><i class="text-success"></i> 120</h2>
                    <span class="text-muted">Todays Scrapped Movies</span>
                </div>
                <span class="text-success">80</span>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Weekly</h4>
                <div class="text-right">
                    <h2 class="font-light m-b-0"><i class="text-info"></i> 5,000</h2>
                    <span class="text-muted">Todays Movies</span>
                </div>
                <span class="text-info">30</span>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div *ngFor="let movie of movies" class="col-lg-2">
        <div class="card">
            
            <img *ngIf="movie.imageUrl" class="card-img-top img-responsive" src="{{movie.baseUrl}}{{movie.imageUrl}}" alt="Card">
            <img *ngIf="!movie.imageUrl" class="card-img-top img-responsive" src="https://flik-bucket.s3.amazonaws.com/assets/images/Flik-Logo-RGB-Purple1.png" alt="Card">
            <div class="card-body">
                <h5 class="font-normal"><b>{{movie.name}}</b></h5>
                <ul class="list-inline d-flex font-14">
                    <li class="p-l-0 mr-3">Genre : <span *ngFor="let genre of movie.genres"> <b>{{genre.name}} </b> </span></li>
                </ul>
                <ul class="list-inline d-flex font-14">
                    <li>
                        <a href="javascript:void(0)" class="link">{{movie.likes}} Likes</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</div>